body {
	text-align: center;
	margin: 0;
}
header {
	background-color: #F15B31;
	padding: 30px 20px 30px 20px;
}

h1{
	font-family: Raleway;
	color: white;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}
nav{
	background-color:#00A6B3;
	padding:20px 0 20px 0;

}
button {
	padding:7px;
	background-color: white;
	border: 2px  solid #F15B31;
	font-family:Raleway;
	font-size:16px;
	border-radius: 5px;
	margin:0 0 0 30px;
	display:block;
	text-align: center;
	float:right;
}
button:hover {
	border: 2px solid #00A6B3;
}

a {
	font-family: Raleway;
	color:white;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	border-bottom: 2px solid transparent;
	margin: 0 20px 0 20px;
	text-decoration: none;
}
a:hover {
	color: #F15B31;
}
main{
	width: 850px;
	margin: 35px auto 35px auto;
}

h3,label{
	font-family: Raleway;
	font-weight: 600;
	margin:0 0 0 0;
	text-align:center;
	width:100px;
}
h3 {
	float: left;
	display: inline;
	color: #0D2C40;
	font-size: 20px;
	padding-top: 5px;
	
}
label{
	margin:0 120px 0 0;

	display: inline;
	color: #F15B31;
	font-size:30px;
	
}
p {
	font-family: Raleway;
	line-height: 26px;
	font-size: 18px;
}
img{
	margin:40px 8px 40px 8px;
}

footer{
	text-transform: uppercase;
	padding:0 20px 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: 0.08em;
	font-weight: 500;
}

#scoreBox {
	font-family: Raleway;
	color:black;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	
	width:400px;
	display:inline-block;
	
}

.copyright {
	font-family: Raleway;
	float:left;
}
.message{
	float: right;
	font-family: Raleway;
}
.name {
	color:#F15B31;
	font-weight: 700;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;

}
